$main-transition: none;
$toolbar-transition: none;
$data-table-border-radius: 0 !default;
$data-table-regular-header-font-size: 14px !default;
$slider-track-width: 5px;
$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);
